<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Admin connection</title>
    <script async src="../js/app.js"></script>
</head>
<body>
    <div class="form_connection_parent_container">
        <form class="form_connection_container">
            <div>
                <h2 class="form_connection_title_container">
                    <p>Admin connection</p>
                </h2>
            </div>
            <div class="form_connection_sub_container">
                <input type="email" name="email" placeholder="your email address" id="email_connection_input"/>
                <input type="password" name="password" placeholder="your password" id="password_connection_input"/>
                <input type="submit" value="connection"/>
            </div>
            <div class="form_connection_reset_password_container">
                <p>Mot de passe oublier !</p>
            </div>
        </form>
    </div>
</body>
</html>